<h2>Your Post</h2>
<div class="posts list-group">
  <button type="submit" class="btn btn-primary"><a href="dashboard/new">Add Post</a>/button>
  </dav>
  {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>